
*{
    color: #535353;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 20px
}
.nav-btn{
    display:flex;
    gap:1em;
}

.navigation{
    display:flex;
    list-style: none;
    justify-content: space-between;
    gap:1em;
}

.cta-btn{
    color:white;
    background-color: #FF5A1F;
    border: none;
    border-radius: 15px;
    padding:0 15px
}